//----------------------------------------------------//
// Inputs & Form & Controls				       		  //
//----------------------------------------------------//
fieldset {
  display: block;
  text-align: center;
}

label {
  display: block;
  &:hover {
    cursor: pointer;
  }
}

// Inputs
//----------------------------------------------------//
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
textarea,
select,
.input {
  background-color: #f3f3f2;
  border: 1px solid #bcbcbc;
  color: #a5a5a5;
  font-size: $mainFontSize;
  line-height: $mainFontHeight;
  padding: 10px 10px;
  width: 100%;
  display: block;
  transition: all .3s ease-in-out;
  -webkit-appearance: none;
    @include placeholderColor(#9c9c9c);
  &:focus {
   // border-color: #696969;
   box-shadow: inset 2px 2px 2px #a6a6a6;
    background-color: #fff;
    color: #222222;
  }
  &.error {
  }
  &.disabled,
  &[disabled="disabled"],
  &[disabled] {
    background-color: #f3f3f3;
  }
}

textarea {
  height: 150px;
}

input[type="file"] {
  display: none;
  & + label {
    display: block;
    background: #fff;
    font-size: 14px;
    line-height: 24px;
    padding: 25px 15px;
    color: #969696;
    text-align: center;
    border: 1px dashed #c4c4c4;
    transition: .2s ease-in-out;
    &:hover {
      border-color: #696969;
      background: #e9e9e9;
    }
  }
}


// Buttons
//----------------------------------------------------//
button,
.btn {
  text-align: center;
  vertical-align: top;
  font-weight: $mainFontWeight;
  font-size: $mainFontSize;
  line-height: $mainFontHeight;
  padding: 10px 20px;
  color: #000;
  border-radius: 20px; 
  position: relative;
  transition: all .3s ease-in-out;
  width: 100%;
  display: block;
  &:hover,
  &.active {
    color: #ffffff;
    background: $purple;
  }
  &:focus {
    position: relative;
    top: 1px;
  }
  &.disabled,
  &[disabled="disabled"],
  &[disabled] {
    background: #ccc;
    color: #aaa;
    cursor: not-allowed;
  }
}

.btn-active{
  color: white;
  background: $purple;
  border-radius: 7px;
}


