//----------------------------------------------------//
// LAYOUT                                             //
//----------------------------------------------------//
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  min-width: 320px;
}

.container {
  //display: flex;
  width: 1170px;
  margin: 0 auto;
  @include b( laptop ){
  	width: 1010px;
  }
  @include b( tablet ){
  	width: 750px;
  }
  @include b( phablet ){
  	width: 450px;
  }
  @include b( mobile ){
  	width: 100%;
  } 
}

$footerHeight: 242px;



//----------------------------------------------------//
// HEADER                                             //
//----------------------------------------------------//



//----------------------------------------------------//
// SIDEBAR                                            //
//----------------------------------------------------//



//----------------------------------------------------//
// FOOTER                                             //
//----------------------------------------------------//

.requisites{
	display: flex;
	background-color: #5a6cec;
	color: white;
	/* &:after{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(91, 108, 235, 0.8);
	} */
	@include b( phablet ){
		flex-direction: column;
		align-items: center;
	}
	&__part{
		width: 45%;
		padding: 0 20px;
		@include b(phablet){
			width: 100%;
			padding: 10px 20px;
		}
	}
	&__coord{
		display: flex;
		flex-wrap: wrap;
		@include b(mobile){
			flex-direction: column;
			align-items: center;

		}
		&--way{
			width: 50%;
			@include b( mobile ){
				padding-bottom: 20px;
			}
		}
	}

}

.way{
	position: relative;
	padding-bottom: 20px;
	padding-left: 50px;
	&__icon{
		position: absolute;
		width: 20px;
		height: 20px;
		left: 0;
		top: 2px;
		color: #fff;
		font-size: 20px;
		&--place{
			@include sprite($place)
		}
	}
}
.social{
	background-color: #5a6cec;
	padding: 20px;
	&__icon{
		color: white;
	    font-size: 20px;
	}
}
