//----------------------------------------------------//
// LAYOUT                                             //
//----------------------------------------------------//
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  height: 100%;
  min-width: 320px;
}

.container {
  //display: flex;
  width: 1170px;
  margin: 0 auto;
  @include b( laptop ){
  	width: 1010px;
  }
  @include b( tablet ){
  	width: 750px;
  }
  @include b( phablet ){
  	width: 450px;
  }
  @include b( mobile ){
  	width: 100%;
  } 
}

$footerHeight: 242px;



//----------------------------------------------------//
// HEADER                                             //
//----------------------------------------------------//

.header{
	position: fixed;
    display: -webkit-box;
    z-index: 9999;
    width: 100%;
    background-color: white;
    height: 80px; 
    display: -ms-flexbox;
    display: flex;
}
.menu{
	display: flex;
	justify-content: space-between;
	&__logo{
		text-align: center;
		}
	&__list{
		flex-grow: 1;
		text-align: center;
	}
	&__item{
		display: inline-block;
		position: relative;
		padding: 30px 20px;
		&:after{
			content: '';
			display: inline-block;
			position: absolute;
			bottom: 25px;
			left: 50%;
			margin-left: -10px;
			width: 20px;
			border-top: 1px solid transparent;

		}
		&:hover:after{
			border-color: $purple;
		}

	}
}


//----------------------------------------------------//
// SIDEBAR                                            //
//----------------------------------------------------//



//----------------------------------------------------//
// FOOTER                                             //
//----------------------------------------------------//

.footer{
	padding: 70px 0 0;
	background-color: #5a6cec;
}
.requisites{
	display: flex;
	color: white;
	@include b( phablet ){
		flex-direction: column;
		align-items: center;
	}
	&__part{
		width: 45%;
		padding: 0 20px;
		@include b(phablet){
			width: 100%;
			padding: 10px 20px;
		}
	}
	&__coord{
		display: flex;
		flex-wrap: wrap;
		@include b(mobile){
			flex-direction: column;
			align-items: center;

		}
		&--way{
			width: 50%;
			@include b( mobile ){
				padding-bottom: 20px;
			}
		}
	}

}

.way{
	position: relative;
	padding-bottom: 20px;
	padding-left: 50px;
	&__icon{
		position: absolute;
		width: 20px;
		height: 20px;
		left: 0;
		top: 2px;
		color: #fff;
		font-size: 20px;
		&--place{
			@include sprite($place)
		}
	}
}
.social{
	background-color: #5a6cec;
	padding: 20px;
	&__icon{
		color: white;
	    font-size: 20px;
	}
}

.copy{
	padding: 30px 0 10px;
	text-align: center;
	background-color: $purple;
	color: white;
	font-size: 16px;
}
