//----------------------------------------------------//
// Variables                                          //
//----------------------------------------------------//
$mainFont: 'Open Sans';
$mainFontSize: 14px;
$mainFontHeight: 18px;
$mainFontWeight: 400;
$mainFontColor: #000;

// Variables => Colors
//----------------------------------------------------//
$default: #56606b;

$purple: #5764e5;
$titleGray: #747474;
