@import 'sprite.scss',
        'normalize&reset.scss',
        'fonts.scss',
        'variables.scss',
        'mixins&includes.scss',
        'typography.scss',
        'forms.scss',
        'layout.scss';
      

//---------------------------------///
//          MAIN                   ///
//_________________________________/// 


.content{
	padding-top: 80px;
}

.purple-bc{
	background-color: $purple; 
}

.first{
	position: relative;
	background-image: url(../img/topBc.jpg );
	background-size: cover;
	@include b( tablet ){
		background-position: center;
	}
	@include b( phablet ){
		background-position-x: -1050px;
	}
	 @include b( mobile ){
		background-position-x: -1250px;
	} 
   &:after{
	content:'';
	position: absolute;
	height: 100%;
	width: 100%;
	display: block;
	top: 0;
	background-color: rgba( 91, 108, 235, .8);
   }
} 

.top{
	display: flex;
	justify-content: center;
	padding: 80px 0	;
	@include b( phablet){
		flex-direction: column-reverse;
		align-items: center;
		padding: 40px 0;		
	}
	&__form{
		position: relative;
		z-index: 1;
		text-align: right;
		padding: 0 30px;
		width: 50%;
		@include b( phablet ){
           width: 90%;
           padding: 20px 0;
           text-align: center;
         }
	}
	&__title{
		position: relative;
		z-index: 2;
	}
}

.form-wrapper{
	width: 260px;
	z-index: 1;
	position: relative;
	display: inline-block;
	padding: 30px 31px;
	border-radius: 20px;
	background-color: #fff; 
	&--hidden{
		margin: 0 auto;
		display: block;
	}
	    &__title{
	    	text-align: left;
	    	font-size: 21px;
	    	padding-bottom: 20px;
	    }

}

.form{
	padding-bottom: 15px;
	text-align: right;
	&__applic{
		border-radius: 10px;
		margin-bottom: 20px;
		padding-bottom: 10px;
	}
	&__select-wrapper{
		position: relative;	 
		&:after{
			content:'▼';
			position: absolute;
			color: #a5a5a5;
			top: 25%;
			right: 20px;
			pointer-events: none;
		}
	}
	 &__button{
	    	
	  	display: inline-block;
		width: 150px;

	}
	&__error-block{
		    background-color: #ff6666;
    border: 1px solid #c9c9c9;
    color: #fff;
    padding: 8px 2px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    &:empty{
    	display: none;
    	
    }
	}

}

.titles{
	text-align: center;
	padding-bottom: 65px;
	&__print{
		padding-bottom: 15px;
	}
	&__script{
		color: $titleGray;
	}
}

.program-list{
	padding: 100px 0;
}

.programs{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	@include b( mobile ){
		flex-direction: column;
		align-items: center;
	}

	&__item{
		width: 50%;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		padding-bottom: 20px;
		&:nth-child(even){
			padding-left: 15px;
			@include b( laptop ){
				padding-left: 0;
			}
		}
		@include b( tablet ){
			flex-direction: column;
			width: 47%;
		} 
		@include b( mobile ){
			
			width: 85%;
		}
		
		&--img{
			
			@include b( tablet ){
				width: 100%;
				border-radius: 10px;
			}
		} 
		&--descript{
			padding: 0 28px 0 30px;
			
			@include b( tablet ){
				padding: 20px 0;
			}
		}
		&--title{
			padding-bottom: 27px;
			@include b( laptop ){
				text-align: center;
				font-size: 17px;
			}
		}
		&--name{
			color: $titleGray;
		}
		
	}
}

.grid{
	@include b( mobile ){
			margin: 0 auto;
			width: 90%	;
		}
	&__item{
		width: 25%;
		position: relative;
		@include b( phablet ){
			width: 50%;
		}
		@include b( mobile ){
			margin: 0 auto;
			width: 100%	;
		}
		img{
			vertical-align: top;
			width: 100%;
		}
		

	}
	&__link{
		position: relative;
		display: block;
		z-index: 20;
		&:after{
			content: '';
			position: absolute;
			cursor: pointer;
			display: none;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba( 91, 108, 235, .8);
		}
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -20px;
			margin-left: -20px;
			cursor: pointer;
			z-index: 2;
			width: 40px;
			height: 40px;
			display: none;
			background-image: url(../img/magnif.png);
			background-size: cover;
		}
		&:hover:after,
		&:hover:before{
			display: block;

		}
		&:hover{
			opacity: 8;
			
		}
		}

}


.information{
	display: flex;
	//margin: 100px 0;
	padding: 0 20px;
	@include b( tablet ){
		flex-direction: column;
		margin: 60px 0;
		align-items: center;
	}
	&__about{
		padding-right: 100px;

		@include b( tablet ){
			padding: 0 0 50px;
		}
	}
}

.wrapper-about{
	padding: 100px 0;
}

.mid-slide{
	width: 560px;
	height: 295px;
	@include b(phablet){
		width: 300px;
		height: auto;
	}
	&__btn{
		position: absolute;
		z-index: 2;
        width: 40px;
        height: 40px;
        font-size: 26px;
        font-weight: 700;
        border: 1px solid $grayLight;
        padding: 9px;
        margin-bottom: -10px;
        background-color: white;
        text-align: center;
        border-radius: 20px;
        @include b( phablet ){
        	display: none;
        }
	}
	&__next{
		bottom: 50%;
        right: -19px;
	}
	&__prev{
		bottom: 50%;
		left: -19px;
	}
}

.second-background{
	position: relative;
	background-image: url(../img/botBc1.jpg);
	background-size: cover;
	padding: 80px 0;
	&:before{
		content: '';
		position: absolute;
		display: block;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba( 91, 108, 235, .8);
		
	}
}

.improv{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	@include b( mobile ){
			padding: 0 5px;

		}
	
	&__item{
		position: relative;
		width: 25%;
		text-align: center;
		padding-bottom: 20px;
		@include b( phablet ){
			width: 50%;
		}
		@include b( mobile ){
			padding: 0 5px;
		}
		img {
			@include b( mobile ){
			  width: 60px;
		    }
		}
		&--icon{
			display: inline-block;
			padding-bottom: 20px;
			}
		&--title{
			padding-bottom: 15px;
			color: #ffffff;
		}
	}
}

.offers{
	padding: 70px 0;
}

.packages{
	display: flex;
	justify-content: center;
	@include b( phablet ){
            		flex-direction: column;
            		align-items: center;

            	}

	&__piec{
		text-align: center;
		border: 1px solid $grayLight;
        border-radius: 10px;
        width: 370px;
        margin: 10px;
        @include b( tablet ){
            		width: 316px;
            	}
        @include b( mobile ){
            		width: 270px;
            	}

        
        &--price{
        	font-weight: 700;
        	padding: 45px 0 40px 40px;
        	border-top-left-radius: 10px;
        	border-top-right-radius: 10px;
        	border-bottom: 1px solid $grayLight;
        	&--numb{
        		font-size: 67px;
            	position: relative;
            	@include b( tablet ){
            		font-size: 50px;
            	}
        		&:after{
        			content: '$';
        			position: absolute;
        			display: block;
        			left: -20px;
                    top: 40%;
        			font-size: 30px;
        			@include b( tablet ){
            		font-size: 20px;
            	}
        		}
        	}

        }
        &--conditions{
        		padding: 30px;
        		&--list{
        		    padding-bottom: 25px;       			
        		}
        		&--item{
        			position: relative;
        			padding: 17px 0;
        			&:after{
        				content:'';
        				position: absolute;
        				display: inline-block;
        				border-bottom: 1px solid $grayLight; 
        				width: 70px;
        				bottom: 0;
        				left: 50%;
        				margin-left: -35px; 
        			}
        			&:last-child:after{
        				display: none;
        			}
        		}
        		&--wrapper{
        			border: 1px solid $grayLight;
        			border-radius: 20px; 
        			margin: 0 auto;
        			width: 140px;
        		}
        }

	}
}

.reviews-wrapper{
	position: relative;
}

.reviews{	
	position: relative;
	padding: 40px 60px;
	@include b(tablet){
		padding: 0;
	}
	&__item{
		border: 1px solid $grayLight;
	}
	&__foto{
		position: relative;
		display: inline-block;
		padding: 30px 0;
		@include b(phablet){
			display: block;
			text-align: center;
			padding: 10px 0;
		}
		&:after{
			content: '';
			position: absolute;
			display: inline-block;
			border-right: 2px solid $grayLight;
			height: 60px;
			top: 30%;
			right: -25px;
			@include b(phablet){
				display: none;
			}
		}
		&--wrap{
			display: inline-block;
			width: 120px;
			img{
				width: 100%;
			}
			@include b(phablet){
				width: 80px;
			}
		}

	}
	&__txt{
		position: relative;
		display: inline-block;
		vertical-align: top;
		padding: 10px 50px;
		width: 700px;
		@include b( tablet ){
			width: 500px;
		}
		@include b( phablet ){
			width: 100%;
			padding: 10px 30px 0 ;
		}
		&:before{
			content:'\"';
			display: inline-block;
			transform: rotate(185deg);
			position: absolute;
			color: $purple;
			left: 10px;
			top: -5px;
			font-size: 60px;
			@include b(phablet){
				font-size: 40px;
			}
		}
		&:after{
			content:'\"';
			display: inline-block;
			transform: rotate(5deg);
			position: absolute;
			color: $purple;
			right: 30px;
			bottom: 90px;
			font-size: 60px;
			@include b(phablet){
				font-size: 40px;
				right: 45px;
				bottom: 70px;
			}
		}
		&--italic{
			font-style: italic;
		}
		&--trainer{
			font-style: normal;
			font-size: 16px;
			font-weight: 700;
			color: $purple;
		}
	}
	
}

.teacher{
	position: absolute;
	display: inline-block;
	width: 200px;
	border: 1px solid $grayLight;
	bottom: 10px;
	&__item{
		&--part{
			display: inline-block;
		}
		&--foto{
		    background-image: url(../img/cicrleLittl.png);
		    background-position: center -5px;
	      	width: 60px;
		    height:60px;
		    border: 1px solid $grayLight;
		    border-radius: 40px;
	   }
	   &--name{
	   	&--gray{
	   		color: gray;
	   	}
	   }
	}
	
}
.slick-list{
	
	border: 1px solid $grayLight;
	
	padding: 15px;
	@include b( tablet ){
		
		
	}

}


.dots-coment{
	position: absolute;
	display: inline-block;
	right: 10px;
	top: 20%;
	@include b(tablet){
		right: 5px;
	}
	@include b(phablet){
		right: 0px;
		top: 30%;
	}
	li{
		margin-bottom: 8px; 
		button{
			border: 3px solid $grayLight;
			box-shadow: inset 0 0 0 3px  white;
			background-color: white;
			border-radius: 50%;
		    width: 25px;
			height: 25px;
			font-size: 0;
			padding: 0;
			&:focus{
				background-color: $purple;
				border-color: $purple;
				top: 0;
			}

		}
	}

}




