@@include('template/layout/header.html')

<main class="content">
    <style>
        .temprow {
            padding-bottom: 20px;
        }
    </style>
    <div class="static-content">
        <h1>Lorem ipsum dolor sit amet, consectetur adipisicing.</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing.</h4>
        <h5>Lorem ipsum dolor sit amet, consectetur adipisicing.</h5>
        <h6>Lorem ipsum dolor sit amet, consectetur adipisicing.</h6>
        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur
            adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing.
        </blockquote>
        <q>Lorem ipsum dolor sit amet, consectetur adipisicing.Lorem ipsum dolor sit amet, consectetur adipisicing.
            Lorem ipsum dolor sit amet, consectetur adipisicing. Lorem ipsum dolor sit amet, consectetur
            adipisicing.</q>
        <hr>
        <p>Lorem <a href="#">ipsum dolor</a> sit amet, <strong>consectetur adipisicing</strong>. Lorem ipsum dolor sit
            amet, consectetur adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing. Lorem ipsum dolor sit
            amet, consectetur adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing.Lorem ipsum dolor sit
            amet, consectetur adipisicing.Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.Lorem <b>ipsum dolor sit amet</b>, consectetur
            adipisicing.Lorem ipsum dolor sit amet, consectetur adipisicing. Lorem ipsum dolor sit amet, consectetur
            adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
        <ol>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing. Lorem ipsum dolor sit amet, consectetur
                adipisicing.
            </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing. Lorem ipsum dolor sit amet, consectetur
                adipisicing. Lorem ipsum dolor sit amet, consectetur adipisicing.
            </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
        </ol>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
        </ul>
        <table>
            <thead>
            <tr>
                <th>Модель
                </th>
                <th>Catalyst 4510R
                </th>
                <th>Catalyst 4507R
                </th>
                <th>Catalyst 4510R
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Количество слотов</td>
                <td>10</td>
                <td>8</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Слоты для процессорных модулей</td>
                <td>3</td>
                <td>1</td>
                <td>3</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="temprow">
        <button class="btn">Sumbit</button>
        <a href="#" class="btn">OK</a>
    </div>
    <div class="temprow">
        <input name="input" type="text" placeholder="Name">
    </div>
    <div class="temprow">
        <textarea name="message" placeholder="Message"></textarea>
    </div>
    <div class="temprow">
			<span class="default-select">
				<select name="Select" id="">
					<option value="">One</option>
					<option value="">Two</option>
					<option value="">Three</option>
				</select>
			</span>
    </div>
    <div class="temprow">
        <input type="checkbox" name="check" id="check"> <label for="check">Option 1</label>
        <input type="radio" name="radio" id="radio">
        <label for="radio">Option 2</label>
        <input type="radio" id="radio2" disabled="disabled" name="radio">
        <label for="radio2">Option 3</label>
        <input type="radio" name="radio" id="radio3">
        <label for="radio3">Option 4</label>
    </div>
    <div class="temprow">
        <div class="titles">
            <div class="container">
                <h3 class="titles__print">YOGA FEATURE PROGRAM
                </h3>
                <h2 class="titles__script">Our Classes</h2>
            </div>
        </div>
    </div>
    <div class="temprow">
        <div class="container">
            <div class="programs">
                <div class="programs__item"><span class="programs__item--pic"><img src="img/yoga_1.png" alt="pic" class="programs__item--img"></span>
                <span class="programs__item--descript">
                            <h4 class="programs__item--title">YOGA FOR HEALTH</h4>
                            <p class="programs__item--txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In a neque eos consequuntur, sint recusandae autem dicta nisi ea repudiandae molestiae fugiat illo iusto.</p>
                            <span class="programs__item--name">
                                Ashtanga - Hatha
                            </span>
                        </span></div>
                <div class="programs__item"><span class="programs__item--pic"><img src="img/yoga_2.png" alt="pic" class="programs__item--img"></span>
                <span class="programs__item--descript">
                            <h4 class="programs__item--title">YOGA FOR LOSE WEIGHT</h4>
                            <p class="programs__item--txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In a neque eos consequuntur, sint recusandae autem dicta nisi ea repudiandae molestiae fugiat illo iusto.</p>
                            <span class="programs__item--name">
                                Ashtanga - Hatha
                            </span>
                        </span></div>
                <div class="programs__item"><span class="programs__item--pic"><img src="img/yoga_3.png" alt="pic" class="programs__item--img"></span>
                <span class="programs__item--descript">
                            <h4 class="programs__item--title">YOGA FOR LOSE HEALTH</h4>
                            <p class="programs__item--txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In a neque eos consequuntur, sint recusandae autem dicta nisi ea repudiandae molestiae fugiat illo iusto.</p>
                            <span class="programs__item--name">
                                Ashtanga - Hatha
                            </span>
                        </span></div>
                <div class="programs__item"><span class="programs__item--pic"><img src="img/yoga_4.png" alt="pic" class="programs__item--img"></span>
                <span class="programs__item--descript">
                            <h4 class="programs__item--title">YOGA FOR HEALTH</h4>
                            <p class="programs__item--txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In a neque eos consequuntur, sint recusandae autem dicta nisi ea repudiandae molestiae fugiat illo iusto.</p>
                            <span class="programs__item--name">
                                Ashtanga - Hatha
                            </span>
                        </span></div>
            </div>
        </div>
    </div>
    <div class="temprow">
        <div class="container">
            <div class="improv">
                <div class="improv__item">
                    <span class="improv__item--icon"><img src="img/improv_7.png" alt="pic"></span>
                    <h5 class="improv__item--title">IMPROVED OVERALL<br> HEALTH</h5>
                    <p class="improv__item--txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nulla, dolorum cupiditate sapiente possimus unde.</p>
                </div>
                <div class="improv__item">
                    <span class="improv__item--icon"><img src="img/improv_8.png" alt="pic"></span>
                    <h5 class="improv__item--title">INCREASED<br> CONCENTRATION</h5>
                    <p class="improv__item--txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nulla, dolorum cupiditate sapiente possimus unde.</p>
                </div>
                <div class="improv__item">
                    <span class="improv__item--icon"><img src="img/improv_6.png" alt="pic"></span>
                    <h5 class="improv__item--title">BALANCE<br> YOUR MIND</h5>
                    <p class="improv__item--txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nulla, dolorum cupiditate sapiente possimus unde.</p>
                </div>
                <div class="improv__item">
                    <span class="improv__item--icon"><img src="img/improv_7.png" alt="pic"></span>
                    <h5 class="improv__item--title">SLEEP<br> BETTER</h5>
                    <p class="improv__item--txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nulla, dolorum cupiditate sapiente possimus unde.</p>
                </div>
                <div class="improv__item">
                    <span class="improv__item--icon"><img src="img/improv_8.png" alt="pic"></span>
                    <h5 class="improv__item--title">WEIGHT LOSS</h5>
                    <p class="improv__item--txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nulla, dolorum cupiditate sapiente possimus unde.</p>
                </div>
                <div class="improv__item">
                    <span class="improv__item--icon"><img src="img/improv_6.png" alt="pic"></span>
                    <h5 class="improv__item--title">STRENGTHENS<br> YOUR BONES</h5>
                    <p class="improv__item--txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nulla, dolorum cupiditate sapiente possimus unde.</p>
                </div>
                <div class="improv__item">
                    <span class="improv__item--icon"><img src="img/improv_7.png" alt="pic"></span>
                    <h5 class="improv__item--title">INCREASED<br> FLEXIBILITY</h5>
                    <p class="improv__item--txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nulla, dolorum cupiditate sapiente possimus unde.</p>
                </div>
                <div class="improv__item">
                    <span class="improv__item--icon"><img src="img/improv_8.png" alt="pic"></span>
                    <h5 class="improv__item--title">LOWER BLOOD<br> PRESSURE</h5>
                    <p class="improv__item--txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nulla, dolorum cupiditate sapiente possimus unde.</p>
                </div>
            </div>
        </div>
    </div>
</main><!-- MAIN CONTENT [END] -->

@@include('template/layout/footer.html')
 
