	</div><!-- FOOTER FIX [END] -->

	<!-- FOOTER -->
	<footer class="footer">
		<div class="container">

		</div>
	</footer><!-- FOOTER END -->

	<!-- Scripts load -->

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/masonry.pkgd.js"></script>
    <script src="js/masonry-docs.min.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/jquery.popup.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/script.js"></script>

	</body>
</html>