	
	<!-- FOOTER -->
	<footer class="footer">
	<div class="container">
        <div class="requisites">
        <div class="requisites__part requisites__about ">
            <h4 class="white">ABOUT</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam dolor magni, molestias, minus sint distinctio ducimus dolore dicta error quas. Laboriosam laborum a eius sapiente, numquam facere molestias consectetur officiis.</p>
        </div>
        <div class="requisites__part requisites__contact">
            <h4 class="white">CONTACT US</h4>
            <div class="requisites__coord">
                <div class="requisites__coord--way way"><span class="way__icon icon-location-1"></span><a href="https://www.google.ru/maps" class="way__link white">5419 Joseph Mountains <br>Apt. 716</a></div>
                <div class="requisites__coord--way way"><span class="way__icon way__icon--envelop icon-mail-alt"></span><a href="mailto:joga.info@example.com" class="way__link white">joga.info@example.com</a></div>
                <div class="requisites__coord--way way"><span class="way__icon way__icon--phone icon-phone"></span><a href="tel:+12345678" class="way__link white">+1 234 567 89<br>+1 234 567 89</a></div>
                <div class="requisites__coord--way way"><span class="way__icon way__icon--mail icon-globe-outline"></span><a href="http://www.example.com" class="way__link white">www.example.com</a></div>
            </div>
        </div>
        </div>
        <div class="social">
            <a href="#"><span class="social__icon icon-pinterest"></span></a>
            <a href="#"><span class="social__icon icon-twitter"></span></a>
            <a href="#"><span class="social__icon icon-facebook"></span></a>
            <a href="#"><span class="social__icon icon-gplus"></span></a>
            <a href="#"><span class="social__icon icon-instagram"></span></a>
        </div>
       
    </div>
     <div class="copy">
        	<p class="copy__txt">Copyright &#169; 2016-2017 Yoga classes</p>
        </div>

        <div class="hiden-part">
        	<div id="form-popup" class="form-wrapper form-wrapper--hidden">
                    <h3 class="form-wrapper__title">Trial Class</h3>
                    <form action="index.php" method="post" class="form">
                        <div class="form__thanks">Thank You</div>
                        <input type="text" name="name" placeholder="Enter your name" class="form__applic form__inp">
                        <input type="text" name="phone" placeholder="Enter your phone" class="form__applic form__inp">
                        <div class="form__select-wrapper">
                        <select name="class" id="selectHid" class="form__applic form__select">
                            <option value="" class="form__select--option">Chose your class</option>
                            <option value="cheap" class="form__select--option">cheap</option>
                            <option value="middle" class="form__select--option">middle</option>
                            <option value="expensive" class="form__select--option">expensive</option>
                        </select>
                        </div>
                        <div class="form__error-block"></div>
                        <button class="form__button">
                        	Try it
                        </button>
                    </form>
                </div>
        </div>
	</footer><!-- FOOTER END -->

	<!-- Scripts load -->

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/masonry.pkgd.js"></script>
    <script src="js/masonry-docs.min.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/popup.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/script.js"></script>

	</body>
</html>